!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.astro
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.fuse_hidden*
.history
.history/
.ionide
.LSOverride
.nfs*
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/*
[Dd]esktop.ini
*.cab
*.config.d.ts
*.config.js
*.icloud
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
*.tsbuildinfo
*.vsix
*~
$RECYCLE.BIN/
dist
dist/
ehthumbs_vista.db
ehthumbs.db
Icon
Network Trash Folder
node_modules
node_modules/
playwright-report/
Temporary Items
test-results/
Thumbs.db
Thumbs.db:encryptable
